@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

.protest-riot-regular {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Protest Riot", sans-serif;
    font-weight: lighter;
    background-color: #ffecec;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    font-family: "Madimi One", sans-serif;
    font-size: 18px;
}

.hero {
    background-color: #f50b36;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 15px;
}

.hero p {
    font-family: "Poetsen One", sans-serif;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.btn {
    background-color: #fff;
    color: #f50b36;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Madimi One", sans-serif;
    font-weight: lighter;
}

.about {
    padding: 40px 20px;
    text-align: center;
}

.about img {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: #f50b36;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.social-media {
    margin-bottom: 10px;
}

.social-icon {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.footer-info {
    font-size: 14px;
    line-height: 1.6;
}