<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulcetiti</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/static/imagenes/log.png" alt="Dulcetiti Logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/catalogo">Catalogo</a></li>
                <li><a href="/contacto">Contactanos</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h1>Bievenidos a nuestra pagina</h1>
            <p>Consulta nuestro catalogo</p>
            <a href="/catalogo" class="btn">Ver</a>
        </div>
    </section>
    <section class="about">
        <img src="/static/imagenes/fondo.jpg" alt="Restaurant Interior">
    </section>
    <footer class="footer">
        <div class="social-media">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="footer-logo">
            <img src="/static/imagenes/log-black.png" alt="Dulcetiti Logo" class="logo">
            <p>Dulcetiti <br> Desde 2020</p>
        </div>
        <div class="footer-info">
            <p>&copy; Copyright Dulcetiti.<br>
            </p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>